/* ----------------------------
 INDEX.HTML (HOME PAGE)
----------------------------- */
.home-page container h1 {
	font-size: 2.2rem;
	color: #242a84;
	margin-bottom: 1rem;
}

html.dark .home-page container h1 {
	color: #9aa0ff;
}

.instructions {
	background: #f9f9f9;
	padding: 1.25rem;
	border-radius: 0.625rem;
	max-width: 50rem;
	margin: 1.25rem auto;
	text-align: left;
}

.instructions h2 {
	color: #242a84;
	border-bottom: 0.125rem solid #242a84;
	padding-bottom: 0.3125rem;
}

.instructions ol {
	padding-left: 1.25rem;
}

.instructions ol li {
	margin-bottom: 0.625rem;
	font-size: 1.125rem;
	line-height: 1.5;
}

.instructions a {
	color: #b31e1e;
	font-weight: bold;
	text-decoration: none;
}

.instructions a:hover {
	text-decoration: underline;
}

html.dark .instructions {
	background: #2e2e2e;
	color: #ddd;
	box-shadow: none;
}

html.dark .instructions h2 {
	color: #9aa0ff;
	border-bottom-color: #9aa0ff;
}

html.dark .instructions a {
	color: #ff6b6b;
}