/* ----------------------------
 SETTINGS.HTML
----------------------------- */
.settings h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.settings label, input, button {
	display: block;
	width: 100%;
	margin: 10px 0;
}

.settings .inline-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.settings button {
	padding: 8px;
}

.settings #password-message {
	font-size: 0.9em;
}
